<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moldey Potatoes</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/tab.css' %}">
</head>

<body style="background-color:aquamarine;">
    {% include 'components/navbar.html' %}
    {% include 'components/bootstrap.html' %}
    <center><br><br>
<div class="container">
<div class="row">
    {% for book in all_books %}
    <div class="col-4">
        <div class="card" style="width: 18rem;">

            <img src="{{book.cover_image.url}}" class="card-img-top" alt="{{book.cover_image.url}}">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'book_info' book.id %}" class="btn btn-primary">{{book.title}}</a></h5>
                <p class="card-text">
                <ul class="list-group">
                    <li class="list-group-item"><b>Author:</b> {{book.author}}</li>
                    <li class="list-group-item"><b>Publisher:</b> {{book.publisher}}</li>
                    <li class="list-group-item"><b>Genre:</b> {{book.genre}}</li>
                </ul>
                </p>
                
                
            </div>
        </div>
    </div>
    {% endfor %}
</div></div
</center>
</body>

</html>