<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moldey Potatoes</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/tab.css' %}">
</head>

<body style="background-color:aquamarine;">
    {% include 'components/navbar.html' %}
    {% include 'components/bootstrap.html' %}
    <center><br><br>
    {% for game in all_games %}
    <div class="card" style="width: 18rem;">

        <img src="{{game.cover_image.url}}" class="card-img-top" alt="{{game.cover_image.url}}">
        <div class="card-body">
            <h5 class="card-title">{{game.title}}</h5>
            <p class="card-text">
                <ul class="list-group">
                    <li class="list-group-item"><b>Creator:</b> {{game.creator}}</li>
                    <li class="list-group-item"><b>Genre: </b>{{game.genre}}</li>
                </ul>
            </p>
            <a href="#" class="btn btn-primary">{{game.title}}</a>
    {% endfor %}
        </div>
    </div>
</center>
</body>
</html>