<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moldey Potatoes</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/tab.css' %}">
</head>

<body style="background-color:aquamarine;">
    {% include 'components/navbar.html' %}
    {% include 'components/bootstrap.html' %}
    <center><br><br>
<div class="container">
<div class="row">
    {% for movie in all_movies %}
    <div class="col-4">
        <div class="card" style="width: 18rem;">

            <img src="{{movie.cover_image.url}}" class="card-img-top" alt="{{movie.cover_image.url}}">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'movie_info' movie.id %}" class="btn btn-primary">{{movie.title}}</a></h5>
                <p class="card-text">
                <ul class="list-group">
                    <li class="list-group-item"><b>Director:</b> {{movie.director}}</li>
                    <li class="list-group-item"><b>Release Date:</b> {{movie.release_date}}</li>
                    <li class="list-group-item"><b>Genre:</b> {{movie.genre}}</li>
                </ul>
                </p>
                
            </div>
        </div>
    </div>
    {% endfor %}
</div></div>
</center>
</body>

</html>